<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="addressDAO">
	
	<!-- <insert id="insertAddress" parameterType="address">
		INSERT INTO ADDRESS (ID, ADDRESS, POST)
		VALUES #{id}, #{address}, #{post}
	</insert>
	
	<update id="updateAddress" parameterType="address">
		UPDATE ADDRESS
		SET ADDRESS = #{address}, POST = #{post}
		WHERE ID = #{id}
	</update>
	
	<delete id="deleteAddress" parameterType="address">
		DELETE ADDRESS WHERE ID = #{id} 
	</delete>
	
	<select id="getAddress" parameterType="address">
		SELECT * FROM ADDRESS WHERE ID=#{id}
	</select>
	
	<select id="getAddressList" parameterType="address">
		SELECT * FROM ADDRESS
	</select> -->
	
</mapper>