<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artistDAO">

	<!-- <insert id="insertArtist" parameterType="artist">
		INSERT INTO ARTIST (ID, NICKNAME, A_DETAIL)
		VALUES #{id}, #{nickname}, #{a_detail}
	</insert>
	
	<update id="updateArtist" parameterType="artist">
		UPDATE ARTIST
		SET A_DETAIL = #{a_detail}
		WHERE ID = #{id}
	</update>
	
	<delete id="deleteArtist" parameterType="artist">
		DELETE FROM ARTIST WHERE ID = #{id}
	</delete>
	
	<select id="getArtist" parameterType="artist" resultType="artist">
		SELECT * FROM ARTIST WHERE ID = #{id}
	</select>
	
	<select id="getArtistList" parameterType="artist" resultType="artist">
		SELECT * FROM ARTIST
	</select> -->
	
</mapper>





















