<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artistDAO">
	<resultMap type="artist" id="artistList"/>
 	<insert id="insertArtist" parameterType="artist">
		INSERT INTO ARTIST (ID, NICKNAME, A_DETAIL, A_IMG)
		VALUES #{id}, #{nickname}, #{a_detail}, #{a_img}
	</insert>
	
 <update id="updateArtist" parameterType="artist">
		UPDATE ARTIST
		SET A_DETAIL = #{a_detail}, A_IMG = #{a_img}
		WHERE ID = #{id}
	</update>
	
	<delete id="deleteArtist" parameterType="artist">
		DELETE FROM ARTIST WHERE ID = #{id}
	</delete> 
	
	<select id="alreadyArtist" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM ARTIST WHERE ID = #{id}
	</select>
	
	<select id="getArtist" parameterType="String" resultType="artist">
		SELECT * FROM ARTIST WHERE ID = #{id}
	</select>
	
	<select id="getArtistList" resultType="artist">
		SELECT * FROM ARTIST
	</select>
	
	<select id="searchByName" parameterType="String" resultType="artist">
		SELECT * FROM ARTIST WHERE NICKNAME LIKE '%' || #{nickname} || '%'
	</select>
	<select id="searchable" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM ARTIST WHERE NICKNAME LIKE '%' || #{nickname} || '%'
	</select>

</mapper>





















