<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stepDAO">
	
	<!-- <insert id="insertStep" parameterType="step">
		INSERT INTO STEP (O_CODE, STEP)
		VALUES #{o_code}, #{step}
	</insert>
	
	<update id="updateStep" parameterType="step">
		UPDATE STEP
		SET O_CODE = #{o_code}, STEP = #{step}
		WHERE O_CODE = #{o_code}
	</update>
	
	<delete id="deleteStep" parameterType="step">
		DELETE STEP WHERE O_CODE = #{o_code}
	</delete>
	
	<select id="getStep" parameterType="step">
		SELECT * FROM STEP WHERE O_CODE = #{O_CODE}
	</select>
	
	<select id="getStepList" parameterType="step">
		SELECT * FROM STEP
	</select> -->
	
</mapper>