<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishlistDAO">

	<insert id="insertWishlist" parameterType="wishlist">
		INSERT INTO WISHLIST(P_CODE, ID)
		VALUES (#{p_code}, #{id})
	</insert>
	
	<delete id="deleteWishlist" parameterType="String">
		DELETE FROM WISHLIST WHERE P_CODE = #{p_code}
	</delete>
	
	<delete id="resetWishlists" parameterType="String">
		DELETE FROM WISHLIST WHERE ID = #{ID}
	</delete>
	
	<select id="getWishlists" parameterType="String" resultType="wishlist">
		SELECT * FROM WISHLIST 
		WHERE ID = #{id}
	</select>

	<select id="getWish" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM WISHLIST 
		WHERE ID = #{id} 
		AND P_CODE = #{p_code}
	</select>
</mapper>

